body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:80px;
  top:20px;
  width:1000px;
  height:130px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:130px;
}
#u2 {
  position:absolute;
  left:2px;
  top:57px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:650px;
  top:90px;
  width:400px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:898px;
  top:40px;
  width:152px;
  height:20px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:158px;
  height:26px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:20px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:40px;
  width:190px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:2986px;
  width:129px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:68px;
  top:3050px;
  width:70px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:68px;
  top:3086px;
  width:70px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:68px;
  top:3120px;
  width:70px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:68px;
  top:3156px;
  width:70px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:387px;
  top:2986px;
  width:129px;
  height:37px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:397px;
  top:3050px;
  width:70px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:397px;
  top:3086px;
  width:70px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:397px;
  top:3120px;
  width:70px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:397px;
  top:3156px;
  width:70px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:723px;
  top:2986px;
  width:129px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:731px;
  top:3050px;
  width:70px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:731px;
  top:3086px;
  width:70px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:731px;
  top:3120px;
  width:70px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:731px;
  top:3156px;
  width:70px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1002px;
  top:3030px;
  width:160px;
  height:150px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:150px;
}
#u53 {
  position:absolute;
  left:2px;
  top:67px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:298px;
  top:3254px;
  width:294px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:90px;
  top:280px;
  width:110px;
  height:70px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u58 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:88px;
  top:390px;
  width:232px;
  height:170px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:170px;
}
#u60 {
  position:absolute;
  left:0px;
  top:44px;
  width:232px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:100px;
  top:290px;
  width:76px;
  height:36px;
  font-size:36px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:90px;
  top:364px;
  width:995px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u64 {
  position:absolute;
  left:473px;
  top:390px;
  width:232px;
  height:170px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:170px;
}
#u65 {
  position:absolute;
  left:0px;
  top:44px;
  width:232px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:858px;
  top:390px;
  width:232px;
  height:170px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:170px;
}
#u67 {
  position:absolute;
  left:0px;
  top:44px;
  width:232px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:531px;
  top:290px;
  width:74px;
  height:36px;
  font-size:36px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:959px;
  top:290px;
  width:73px;
  height:36px;
  font-size:36px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:286px;
  top:650px;
  width:282px;
  height:90px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:90px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#990033;
  text-align:center;
}
#u73 {
  position:absolute;
  left:568px;
  top:650px;
  width:282px;
  height:90px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:90px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:100px;
  top:932px;
  width:965px;
  height:1853px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:115px;
  top:0px;
  width:144px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:259px;
  top:0px;
  width:153px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:412px;
  top:0px;
  width:137px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:549px;
  top:0px;
  width:137px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:686px;
  top:0px;
  width:137px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:823px;
  top:0px;
  width:137px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:30px;
  width:115px;
  height:86px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:86px;
}
#u91 {
  position:absolute;
  left:2px;
  top:35px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:115px;
  top:30px;
  width:144px;
  height:86px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:86px;
}
#u93 {
  position:absolute;
  left:2px;
  top:35px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:259px;
  top:30px;
  width:153px;
  height:86px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:86px;
}
#u95 {
  position:absolute;
  left:2px;
  top:35px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:412px;
  top:30px;
  width:137px;
  height:86px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:86px;
}
#u97 {
  position:absolute;
  left:2px;
  top:35px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:549px;
  top:30px;
  width:137px;
  height:86px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:86px;
}
#u99 {
  position:absolute;
  left:2px;
  top:35px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:686px;
  top:30px;
  width:137px;
  height:86px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:86px;
}
#u101 {
  position:absolute;
  left:2px;
  top:35px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:823px;
  top:30px;
  width:137px;
  height:86px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:86px;
}
#u103 {
  position:absolute;
  left:2px;
  top:35px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:116px;
  width:115px;
  height:111px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:111px;
}
#u105 {
  position:absolute;
  left:2px;
  top:48px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:115px;
  top:116px;
  width:144px;
  height:111px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:111px;
}
#u107 {
  position:absolute;
  left:2px;
  top:48px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:259px;
  top:116px;
  width:153px;
  height:111px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:111px;
}
#u109 {
  position:absolute;
  left:2px;
  top:48px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:412px;
  top:116px;
  width:137px;
  height:111px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:111px;
}
#u111 {
  position:absolute;
  left:2px;
  top:48px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:549px;
  top:116px;
  width:137px;
  height:111px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:111px;
}
#u113 {
  position:absolute;
  left:2px;
  top:48px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:686px;
  top:116px;
  width:137px;
  height:111px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:111px;
}
#u115 {
  position:absolute;
  left:2px;
  top:48px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:823px;
  top:116px;
  width:137px;
  height:111px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:111px;
}
#u117 {
  position:absolute;
  left:2px;
  top:48px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:227px;
  width:115px;
  height:91px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:91px;
}
#u119 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:115px;
  top:227px;
  width:144px;
  height:91px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:91px;
}
#u121 {
  position:absolute;
  left:2px;
  top:38px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:259px;
  top:227px;
  width:153px;
  height:91px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:91px;
}
#u123 {
  position:absolute;
  left:2px;
  top:38px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:412px;
  top:227px;
  width:137px;
  height:91px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:91px;
}
#u125 {
  position:absolute;
  left:2px;
  top:38px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:549px;
  top:227px;
  width:137px;
  height:91px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:91px;
}
#u127 {
  position:absolute;
  left:2px;
  top:38px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:686px;
  top:227px;
  width:137px;
  height:91px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:91px;
}
#u129 {
  position:absolute;
  left:2px;
  top:38px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:823px;
  top:227px;
  width:137px;
  height:91px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:91px;
}
#u131 {
  position:absolute;
  left:2px;
  top:38px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:318px;
  width:115px;
  height:153px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u133 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:115px;
  top:318px;
  width:144px;
  height:153px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u135 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:259px;
  top:318px;
  width:153px;
  height:153px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u137 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:412px;
  top:318px;
  width:137px;
  height:153px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u139 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:549px;
  top:318px;
  width:137px;
  height:153px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u141 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:686px;
  top:318px;
  width:137px;
  height:153px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u143 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:823px;
  top:318px;
  width:137px;
  height:153px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u145 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:0px;
  top:471px;
  width:115px;
  height:153px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u147 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:115px;
  top:471px;
  width:144px;
  height:153px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u149 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:259px;
  top:471px;
  width:153px;
  height:153px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u151 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:412px;
  top:471px;
  width:137px;
  height:153px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u153 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:549px;
  top:471px;
  width:137px;
  height:153px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u155 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:686px;
  top:471px;
  width:137px;
  height:153px;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u157 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:823px;
  top:471px;
  width:137px;
  height:153px;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u159 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:624px;
  width:115px;
  height:153px;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u161 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:115px;
  top:624px;
  width:144px;
  height:153px;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u163 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:259px;
  top:624px;
  width:153px;
  height:153px;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u165 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:412px;
  top:624px;
  width:137px;
  height:153px;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u167 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:549px;
  top:624px;
  width:137px;
  height:153px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u169 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:686px;
  top:624px;
  width:137px;
  height:153px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u171 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:823px;
  top:624px;
  width:137px;
  height:153px;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u173 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:777px;
  width:115px;
  height:153px;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u175 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:115px;
  top:777px;
  width:144px;
  height:153px;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u177 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:259px;
  top:777px;
  width:153px;
  height:153px;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u179 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:412px;
  top:777px;
  width:137px;
  height:153px;
  text-align:center;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u181 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:549px;
  top:777px;
  width:137px;
  height:153px;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u183 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:686px;
  top:777px;
  width:137px;
  height:153px;
  text-align:center;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u185 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:823px;
  top:777px;
  width:137px;
  height:153px;
  text-align:center;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u187 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:0px;
  top:930px;
  width:115px;
  height:153px;
  text-align:center;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u189 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:115px;
  top:930px;
  width:144px;
  height:153px;
  text-align:center;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u191 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:259px;
  top:930px;
  width:153px;
  height:153px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u193 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:412px;
  top:930px;
  width:137px;
  height:153px;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u195 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:549px;
  top:930px;
  width:137px;
  height:153px;
  text-align:center;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u197 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:686px;
  top:930px;
  width:137px;
  height:153px;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u199 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:823px;
  top:930px;
  width:137px;
  height:153px;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u201 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:0px;
  top:1083px;
  width:115px;
  height:153px;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u203 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:115px;
  top:1083px;
  width:144px;
  height:153px;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u205 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:259px;
  top:1083px;
  width:153px;
  height:153px;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u207 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:412px;
  top:1083px;
  width:137px;
  height:153px;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u209 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:549px;
  top:1083px;
  width:137px;
  height:153px;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u211 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:686px;
  top:1083px;
  width:137px;
  height:153px;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u213 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:823px;
  top:1083px;
  width:137px;
  height:153px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u215 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:0px;
  top:1236px;
  width:115px;
  height:153px;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u217 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:115px;
  top:1236px;
  width:144px;
  height:153px;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u219 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:259px;
  top:1236px;
  width:153px;
  height:153px;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u221 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:412px;
  top:1236px;
  width:137px;
  height:153px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u223 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:549px;
  top:1236px;
  width:137px;
  height:153px;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u225 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:686px;
  top:1236px;
  width:137px;
  height:153px;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u227 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:823px;
  top:1236px;
  width:137px;
  height:153px;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u229 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:0px;
  top:1389px;
  width:115px;
  height:153px;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u231 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:115px;
  top:1389px;
  width:144px;
  height:153px;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u233 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:259px;
  top:1389px;
  width:153px;
  height:153px;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u235 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:412px;
  top:1389px;
  width:137px;
  height:153px;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u237 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:549px;
  top:1389px;
  width:137px;
  height:153px;
  text-align:center;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u239 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:686px;
  top:1389px;
  width:137px;
  height:153px;
  text-align:center;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u241 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:823px;
  top:1389px;
  width:137px;
  height:153px;
  text-align:center;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u243 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:1542px;
  width:115px;
  height:153px;
  text-align:center;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u245 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:115px;
  top:1542px;
  width:144px;
  height:153px;
  text-align:center;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u247 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:259px;
  top:1542px;
  width:153px;
  height:153px;
  text-align:center;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u249 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:412px;
  top:1542px;
  width:137px;
  height:153px;
  text-align:center;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u251 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:549px;
  top:1542px;
  width:137px;
  height:153px;
  text-align:center;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u253 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:686px;
  top:1542px;
  width:137px;
  height:153px;
  text-align:center;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u255 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:823px;
  top:1542px;
  width:137px;
  height:153px;
  text-align:center;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u257 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:0px;
  top:1695px;
  width:115px;
  height:153px;
  text-align:center;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:153px;
}
#u259 {
  position:absolute;
  left:2px;
  top:68px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:115px;
  top:1695px;
  width:144px;
  height:153px;
  text-align:center;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:153px;
}
#u261 {
  position:absolute;
  left:2px;
  top:68px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:259px;
  top:1695px;
  width:153px;
  height:153px;
  text-align:center;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:153px;
}
#u263 {
  position:absolute;
  left:2px;
  top:68px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:412px;
  top:1695px;
  width:137px;
  height:153px;
  text-align:center;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u265 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:549px;
  top:1695px;
  width:137px;
  height:153px;
  text-align:center;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u267 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:686px;
  top:1695px;
  width:137px;
  height:153px;
  text-align:center;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u269 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:823px;
  top:1695px;
  width:137px;
  height:153px;
  text-align:center;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:153px;
}
#u271 {
  position:absolute;
  left:2px;
  top:68px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
