<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca-j/spring/200810"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://docs.oasis-open.org/ns/opencsa/sca-j/spring/200810 http://www.osoa.org/xmlns/sca/1.0/spring-sca.xsd">


	<context:component-scan base-package="scallop.user" />
	<sca:service name="UserService" type="scallop.user.UserService" target="UserServiceBean" />
	<bean id="UserServiceBean" class="scallop.user.UserServiceImpl">
		<property name="helloWorldService" ref="helloWorldService"></property>
	</bean>
	  
    <sca:reference name="helloWorldService" type="scallop.hello.Helloworld" />

</beans>
  
