body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:40px;
  top:20px;
  width:1000px;
  height:130px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:130px;
}
#u2 {
  position:absolute;
  left:2px;
  top:57px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:610px;
  top:90px;
  width:400px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:858px;
  top:40px;
  width:152px;
  height:20px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:158px;
  height:26px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:76px;
  top:0px;
  width:76px;
  height:20px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:40px;
  width:190px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:1070px;
  width:129px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:58px;
  top:1134px;
  width:70px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:58px;
  top:1170px;
  width:70px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:58px;
  top:1204px;
  width:70px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:58px;
  top:1240px;
  width:70px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:377px;
  top:1070px;
  width:129px;
  height:37px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:387px;
  top:1134px;
  width:70px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:387px;
  top:1170px;
  width:70px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:387px;
  top:1204px;
  width:70px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:387px;
  top:1240px;
  width:70px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:713px;
  top:1070px;
  width:129px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:721px;
  top:1134px;
  width:70px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:721px;
  top:1170px;
  width:70px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:721px;
  top:1204px;
  width:70px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:721px;
  top:1240px;
  width:70px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:992px;
  top:1114px;
  width:160px;
  height:150px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:150px;
}
#u53 {
  position:absolute;
  left:2px;
  top:67px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:288px;
  top:1338px;
  width:294px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:40px;
  top:240px;
  width:1000px;
  height:750px;
  font-size:72px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:750px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:996px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:460px;
  top:710px;
  width:160px;
  height:70px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:70px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:60px;
  top:254px;
  width:141px;
  height:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
